{% extends "base_generic.html" %}

{% block content %}

    <button class="btn btn-dark">
        <a class="icon solid fa-search text-white" href="{% url 'search-book' %}" role="button" aria-expanded="false" style="font-size:1.5vw; font-weight: bolder"> Search</a>
    </button>

    {% if book_list %}
        <h1>Book List</h1>
        <ul>
            {% for book in book_list %}
                <li>
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.authors.all|join:", " }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}
