{% extends "forum_generic.html" %}

{% block content %}
    <article class="main container" style="width: auto; margin-top: 2em ;margin-bottom: 4em; margin-left: 5em; padding: 0">

    <div class="row">
        <div class="col-10">

        <span class="breadcrumb bg-dark" style="padding-left: 1em">
            <span class="breadcrumb-item" style="margin-right: 1em"><a href="{% url 'index' %}">Home</a></span>
            <span class="icon solid fa-greater-than" style="margin-right: 1em"></span> <span class="breadcrumb-item active" aria-current="page">Forums</span>
        </span>

            <ol class="list-inline bg-dark category-box">
                <li id="thread-row">
                    <h3>Announcements & Rules</h3>
                </li>
                <li>
                    <ol class="list-inline">
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' announcements_and_rules.slug '-last_post_date' %}">Announcements & Rules</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if announcements_and_rules.get_last_post %}
                                            {{ announcements_and_rules.get_last_post.creator.user}} {{announcements_and_rules.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li style="margin-right: 0.5em">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' suggestions_and_bugs.slug '-last_post_date' %}">Suggestions & Bugs</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if suggestions_and_bugs.get_last_post %}
                                            {{ suggestions_and_bugs.get_last_post.creator.user}} {{suggestions_and_bugs.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <ol class="list-inline bg-dark category-box">
                <li id="thread-row">
                    <h3>Appeals</h3>
                </li>
                <li>
                    <ol class="list-inline">
                        <li style="margin-right: 0.5em">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' appeals.slug '-last_post_date' %}">Appeals</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if appeals.get_last_post %}
                                            {{ appeals.get_last_post.creator.user}} {{appeals.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <ol class="list-inline bg-dark category-box">
                <li id="thread-row">
                    <h3>Discussions</h3>
                </li>
                <li>
                    <ol class="list-inline">
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' books.slug '-last_post_date' %}">Books</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if books.get_last_post %}
                                            {{ books.get_last_post.creator.user}} {{books.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' games.slug '-last_post_date' %}">Games</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if games.get_last_post %}
                                            {{ games.get_last_post.creator.user}} {{games.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' movies.slug '-last_post_date' %}">Movies</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if movies.get_last_post %}
                                            {{ movies.get_last_post.creator.user}} {{movies.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li style="margin-right: 0.5em">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' series.slug '-last_post_date' %}">Series</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if series.get_last_post %}
                                            {{ series.get_last_post.creator.user}} {{series.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <ol class="list-inline bg-dark category-box">
                <li id="thread-row">
                    <h3>Writing</h3>
                </li>
                <li>
                    <ol class="list-inline">
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' creative_writing.slug '-last_post_date' %}">Creative Writing</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if creative_writing.get_last_post %}
                                            {{ creative_writing.get_last_post.creator.user}} {{creative_writing.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' questing.slug '-last_post_date' %}">Questing</a>
                                    </h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if questing.get_last_post %}
                                            {{ questing.get_last_post.creator.user}} {{questing.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li style="margin-right: 0.5em">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' play_by_post.slug '-last_post_date' %}">Play-by-Post</a></h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if play_by_post.get_last_post %}
                                            {{ play_by_post.get_last_post.creator.user}} {{play_by_post.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <ol class="list-inline bg-dark category-box">
                <li id="thread-row">
                    <h3>NSFW</h3>
                </li>
                <li>
                    <ol class="list-inline">
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' nswf_creative_writing.slug '-last_post_date' %}">NSFW Creative Writing</a></h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if nswf_creative_writing.get_last_post %}
                                            {{ nswf_creative_writing.get_last_post.creator.user}} {{nswf_creative_writing.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' nswf_questing.slug '-last_post_date' %}">NSFW Questing</a></h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if nswf_questing.get_last_post %}
                                            {{ nswf_questing.get_last_post.creator.user}} {{nswf_questing.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li style="margin-right: 0.5em">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' nswf_play_by_post.slug '-last_post_date' %}">NSFW Play-by-Post</a></h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if nswf_play_by_post.get_last_post %}
                                            {{ nswf_play_by_post.get_last_post.creator.user}} {{nswf_play_by_post.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <ol class="list-inline bg-dark category-box">
                <li id="thread-row">
                    <h3>Off-Topic</h3>
                </li>
                <li>
                    <ol class="list-inline">
                        <li id="thread-row">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' general.slug '-last_post_date' %}">General</a></h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white">
                                        {% if general.get_last_post %}
                                            Latest posts: {{ general.get_last_post.creator.user}} {{general.get_last_post.date }}
                                        {% else %}
                                            Latest posts: None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li style="margin-right: 0.5em">
                            <div class="row">
                                <div class="col-8">
                                    <h3 style="padding: 0.5em">
                                        <span class="icon solid fa-circle-arrow-right" style="margin-right: 1em"></span>
                                        <a href="{% url 'thread-list' nswf_general.slug '-last_post_date' %}">NSFW General</a></h3>
                                </div>
                                <div class="col-3">
                                    <p class="text-start" style="margin-top: 0; padding-bottom: 0.5em; font-size: small; color: white"> Latest posts:
                                        {% if nswf_general.get_last_post %}
                                            {{ nswf_general.get_last_post.creator.user}} {{nswf_general.get_last_post.date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    <div class="col-2">
        <ol class="list-inline bg-dark" id="sidebar-box">
                <li style="margin-right: 0.5em">
                    <div class="row">
                        <div class="col">
                            <a href="{{ profile.get_absolute_url }}"><img src="{{ profile.profile_image_url }}" class="card-img thread-author-img" height="90" width="100"></a>
                        </div>
                        <div class="col">
                            <a href="{{ profile.get_absolute_url }}"> <p style="margin: 1.5em 0 0 -0.75em; font-size: larger"> {{ user }} </p> </a> <br>
                        </div>
                    </div>
                </li>
        </ol>

        <ol class="list-inline bg-dark" id="sidebar-box">
                <li id="thread-row">
                    <h3>Members Online Now</h3>
                </li>
                <li>
                    {% for user in logged_users %}
                        <a href="{{ user.profile.get_absolute_url }}">{{ user }}</a>,
                    {% endfor %}
                </li>
        </ol>
        <ol class="list-inline bg-dark category-box">
                <li id="thread-row">
                    <h3>New Posts</h3>
                </li>
                <li>
                    <ol class="list-inline">
                        {% for post in last_posts %}
                            <li id="thread-row">
                                <div class="row">
                                    <div class="col-10" style="margin-bottom: 0.5em">
                                        <a href="{% url 'post-list' post.thread.slug_category post.thread.slug %}" style="font-size: 0.6vw; padding: 0; margin: 0">{{ post.thread.title }}</a><br>
                                        <a href="{% url 'profile-page' post.thread.creator.user %}" style="font-size: 0.6vw; padding: 0; margin: 0">{{ post.thread.creator }}</a>, {{ post.date }}<br>
                                        <h1><a href="{% url 'thread-list' post.thread.slug_category '-last_post_date' %}" style="font-size: 0.6vw; padding: 0; margin: 0">{{ post.thread.category }}</a></h1>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
        </ol>
    </div>
    </div>

    </article>

{% endblock %}
