{% extends "forum_generic.html" %}

{% block content %}

    <article class="main container" style="width: auto; margin-top: 2em ;margin-bottom: 4em; margin-left: 5em; padding: 0">
        <span class="breadcrumb bg-dark" style="padding-left: 1em">
            <span class="breadcrumb-item" style="margin-right: 1em"><a href="{% url 'index' %}">Home</a></span>
            <span class="icon solid fa-greater-than" style="margin-right: 1em"><a href="{% url 'category' %}" style="margin-left: 1em">Forums</a></span>
            <span class="icon solid fa-greater-than" style="margin-right: 1em"></span> <span class="breadcrumb-item active" aria-current="page">{{ forumcategory }}</span>
        </span>

        <div class="row">
            <div class="col-10">
                <h2 style="margin-bottom: 0"> {{ forumcategory.title }} </h2>
                <p style="margin-top: 0; color: #e4e4e4; font-size: medium">{{ forumcategory.content }}</p>
            </div>
            <div class="col-2">
                <a href="{% url 'thread-create' category_pk=forumcategory.pk %}">
                    <button class="btn btn-dark btn-sm" style="margin: 3em 0 0 6em"> Create Thread</button>
                </a>
            </div>
        </div>

        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links" style="margin-top: 2.5em">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" style="margin-right: 2px">Previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" style="margin-left: 2px">Next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}


            <ul class="list-inline bg-dark" style="list-style-position: inside; margin-bottom: 0; padding-left: 0.5em; padding-top: 0.5em; border-bottom:1px solid #ccc;  border-bottom-color: #555555; display: inline-flex; width: 100%">
                <li style="margin: 0.75em 5em 0.75em 0"></li>
                <li style="margin: 0.75em 36.5em 0.75em 5em">Title</li>
                <li style="margin: 0.75em 5.5em 0.75em 26em">Start date</li>
                <li style="margin: 0.75em 2em 0.75em 0">Replies</li>
                <li style="margin: 0.75em 2em 0.75em 0">Views</li>
                <li style="margin: 0.75em 11.55em 0.75em 5em">Last message</li>
            </ul>

            <ol class="list-inline bg-dark" style="list-style-position: inside; margin-bottom: 0; padding-left: 0.5em; padding-top: 0.5em; border-bottom:1px solid #ccc; border-bottom-color: #555555">
                <li style="border-bottom:1px solid #ccc; margin-right: 0.5em">Sticky Threads</li>
                <li>
                    <ol class="list-inline">
                        <li style="margin-right: 0.5em">
                            <div class="row">
                                <div class="col-1">
                                    <p style="margin-top: 0; margin-bottom: 0 "><span class="icon solid fa-square" style="margin-right: 1em"></span></p>
                                </div>
                                <div class="col-7" style="margin-top: 4.5em">
                                    <h3><a href="{% url 'index' %}">Q&A</a></h3>
                                    Author, Date
                                </div>
                                <div class="col-1" style="margin-left: 5em">
                                    <p style="margin: 0; font-size: small; color: white"> Replies: 205 </p>
                                    <p style="margin: 0; font-size: small; color: white"> Views: 200000 </p>
                                </div>
                                <div class="col-2" style="margin-left: 5em">
                                    <p style="margin: 0; font-size: small; color: white"> DollMakerBaddu </p>
                                    <p style="margin: 0; font-size: small; color: white"> Nov 20, 2022 </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <ol class="list-inline bg-dark" style="list-style-position: inside; margin-bottom: 0; padding-left: 0.5em; padding-top: 0.5em; border-bottom:1px solid #ccc; border-bottom-color: #555555">
                <li style="border-bottom:1px solid #ccc; margin-right: 0.5em">Normal Threads</li>
                {% for thread in threads %}
                        <li style="border-bottom:1px solid #ccc">
                        <ol class="list-inline">
                            <li style="margin-right: 0.5em">
                                <div class="row">
                                    <div class="col-1">
                                        <p style="margin-top: 0; margin-bottom: 0 "><span style="margin-right: 1em"><a href="{{ thread.creator.get_absolute_url }}"><img src="{{ thread.creator.profile_image_url }}" class="card-img" style="padding: 0.15em 1em 0.1em 1em"></a></span></p>
                                    </div>
                                    <div class="col-7" style="margin-top: 4.5em">
                                        <h3><a href="{{ thread.get_absolute_url }}"> {{ thread.title }} </a></h3>
                                        <a href="{{ thread.creator.get_absolute_url }}"> {{ thread.creator }} </a>, {{ thread.date }}
                                    </div>
                                    <div class="col-1" style="margin-left: 5em">
                                        <p style="margin: 0; font-size: small; color: white"> Replies: {{ thread.number_of_posts }} </p>
                                        <p style="margin: 0; font-size: small; color: white"> Views: 200000 </p>
                                    </div>
                                    <div class="col-2" style="margin-left: 5em">
                                        <a href="{{ thread.get_last_post.creator.user.profile.get_absolute_url }}"><p style="margin: 0; font-size: small"> {{ thread.get_last_post.creator.user}} </p></a>
                                        <p style="margin: 0; font-size: small; color: white"> {{thread.get_last_post.date }} </p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                {% endfor %}
            </ol>

            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links" style="margin-top: 2.5em">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" style="margin-right: 2px">Previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" style="margin-left: 2px">Next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endblock %}


            <ul>
                {% for forum_category in forumcategory_list %}
                        <li>
                            <a href="{{ forum_category.get_absolute_url }}">{{ forum_category.title }}</a>
                            <strong class="text-secondary"> Thread's: {{ forum_category.number_of_threads }} </strong>
                            <strong class="text-secondary"> Post's: {{ forum_category.number_of_posts}} </strong>
                        </li>
                {% endfor %}
            </ul>

        <p>Views: {{ num_visits }} </p>

        {% if user.is_superuser  %}
        <a href="{% url 'thread-category-delete' pk=forumcategory.id %}">
            <button>DELETE CATEGORY</button>
        </a>

        <a href="{% url 'category-update' pk=forumcategory.id %}">
            <button>Edit Category</button>
        </a>
        {% endif %}

    </article>

{% endblock %}
