{% extends "forum_generic.html" %}

{% block content %}

    <article class="main container thread-list-box" style="margin-bottom: 5.5em">
        <span class="breadcrumb bg-dark" style="padding-left: 1em">
            <span class="breadcrumb-item" style="margin-right: 1em"><a href="{% url 'index' %}">Home</a></span>
            <span class="icon solid fa-greater-than" style="margin-right: 1em"><a href="{% url 'category' %}" style="margin-left: 1em">Forums</a></span>
            <span class="icon solid fa-greater-than" style="margin-right: 1em"></span> <span class="breadcrumb-item active" aria-current="page" style="text-transform: capitalize"> {{ category }} </span>
        </span>

        <div class="row">
            <div class="col-10">
                <h2 style="margin-bottom: 0"> {{ category.title }} </h2>
                <p class="thread-list-info">{{ category.content }}</p>
            </div>
            <div class="col-2">
                <a href="{% url 'thread-create' category_pk=category.pk %}">
                    <button class="btn btn-dark btn-sm" style="margin: 3em 0 0 6em"> Create Thread</button>
                </a>
            </div>
        </div>

        {% block pagination %}
            {% if is_paginated %}
                <ul class="pagination" style="margin: 0">
                        <li style="margin-top: 1em;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
                        {% if page_obj.has_previous %}
                          <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                            {% if page_obj.number|add:-3 > 0 %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-3 }}">{{ page_obj.number|add:-3 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:-2 > 0 %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-2 }}">{{ page_obj.number|add:-2 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:-1 > 0 %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-1 }}">{{ page_obj.number|add:-1 }}</a></li>
                            {% endif %}
                            <li class="page-item active pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                            {% if page_obj.number|add:1 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:2 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:3 }}">{{ page_obj.number|add:3 }}</a></li>
                            {% endif %}
                        {% if page_obj.has_next %}
                          <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                        </ul>
            {% endif %}


            <ul class="list-inline bg-dark sort-threads">
                <li id="buffer-sort"></li>
                {% if order_by == 'title' %}
                    <li id="title-sort"><a href="{% url 'thread-list' category.slug '-title' %}">Title ↑</a></li>
                {% else %}
                    <li id="title-sort"><a href="{% url 'thread-list' category.slug 'title' %}">Title ↓</a></li>
                {% endif %}

                {% if order_by == 'date' %}
                    <li id="date-sort"><a href="{% url 'thread-list' category.slug '-date' %}">Start date ↑</a></li>
                {% else %}
                    <li id="date-sort"><a href="{% url 'thread-list' category.slug 'date' %}">Start date ↓</a></li>
                {% endif %}

                {% if order_by == 'number_of_posts' %}
                    <li id="count-sort"><a href="{% url 'thread-list' category.slug '-number_of_posts' %}">Replies ↑</a></li>
                {% else %}
                    <li id="count-sort"><a href="{% url 'thread-list' category.slug 'number_of_posts' %}">Replies ↓</a></li>
                {% endif %}

                {% if order_by == 'views' %}
                    <li id="views-sort"><a href="{% url 'thread-list' category.slug '-views' %}">Views ↑</a></li>
                {% else %}
                    <li id="views-sort"><a href="{% url 'thread-list' category.slug 'views' %}">Views ↓</a></li>
                {% endif %}

                {% if order_by == 'last_post_date' %}
                    <li id="last-post-sort"><a href="{% url 'thread-list' category.slug '-last_post_date' %}">Last message ↑</a></li>
                {% else %}
                    <li id="last-post-sort"><a href="{% url 'thread-list' category.slug 'last_post_date' %}">Last message ↓</a></li>
                {% endif %}
            </ul>

            <ol class="list-inline bg-dark threads-box">
                <li id="thread-row">Sticky Threads</li>
                <li>
                    <ol class="list-inline">
                        <li style="margin-right: 0.5em">
                            <div class="row">
                                <div class="col-1">
                                    <p style="margin-top: 0; margin-bottom: 0 "><span style="margin-right: 1em"><a href="{{ sticky.creator.get_absolute_url }}">
                                        <img src="{{ sticky.creator.profile_image_url }}" class="card-img thread-author-img" height="70" width="70"></a></span></p>
                                </div>
                                <div class="col-7" style="margin-top: 4.5em">
                                    <h3><a href="{% url 'post-list' category.slug sticky.slug %}">Q&A</a></h3>
                                    <a href="{{ sticky.creator.get_absolute_url }}"> {{ sticky.creator }} </a>, {{ sticky.date }}
                                </div>
                                <div class="col-1" style="margin-left: 5em">
                                    <p class="thread-info"> Replies: {{ sticky.number_of_posts }} </p>
                                    <p class="thread-info"> Views: {{ sticky.views }} </p>
                                </div>
                                <div class="col-2" style="margin-left: 5em">
                                    <a href="{{ sticky.get_last_post.creator.user.profile.get_absolute_url }}"><p style="margin: 0; font-size: small"> {{ sticky.get_last_post.creator.user}} </p></a>
                                    <p class="thread-info"> {{sticky.get_last_post.date }} </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <ol class="list-inline bg-dark threads-box">
                <li id="thread-row">Normal Threads</li>
                {% for thread in object_list %}
                        <li style="border-bottom:1px solid #ccc">
                        <ol class="list-inline">
                            <li style="margin-right: 0.5em">
                                <div class="row">
                                    <div class="col-1">
                                        <p style="margin-top: 0; margin-bottom: 0 "><span style="margin-right: 1em"><a href="{{ thread.creator.get_absolute_url }}">
                                            <img src="{{ thread.creator.profile_image_url }}" class="card-img thread-author-img" height="70" width="70"></a></span></p>
                                    </div>
                                    <div class="col-7" style="margin-top: 4.5em">
                                        <h3><a href="{% url 'post-list' category.slug thread.slug %}" > {{ thread.title }}</a></h3>
                                        <a href="{{ thread.creator.get_absolute_url }}"> {{ thread.creator }} </a>, {{ thread.date }}
                                    </div>
                                    <div class="col-1" style="margin-left: 5em">
                                        <p class="thread-info"> Replies: {{ thread.number_of_posts }} </p>
                                        <p class="thread-info"> Views: {{ thread.views }} </p>
                                    </div>
                                    <div class="col-2" style="margin-left: 5em">
                                        <a href="{{ thread.get_last_post.creator.user.profile.get_absolute_url }}"><p style="margin: 0; font-size: small"> {{ thread.get_last_post.creator.user}} </p></a>
                                        <p class="thread-info"> {{thread.get_last_post.date }} </p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                {% endfor %}
            </ol>

            {% if is_paginated %}
                <ul class="pagination">
                        <li style="margin-top: 1em;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>

                        {% if page_obj.has_previous %}
                          <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                            {% if page_obj.number|add:-3 > 0 %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-3 }}">{{ page_obj.number|add:-3 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:-2 > 0 %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-2 }}">{{ page_obj.number|add:-2 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:-1 > 0 %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-1 }}">{{ page_obj.number|add:-1 }}</a></li>
                            {% endif %}
                            <li class="page-item active pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                            {% if page_obj.number|add:1 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:2 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:3 }}">{{ page_obj.number|add:3 }}</a></li>
                            {% endif %}
                        {% if page_obj.has_next %}
                          <li class="page-item pagination-sm"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                        </ul>
            {% endif %}
        {% endblock %}

        {% if user.is_superuser %}
            <a href="{% url 'category-update' pk=category.id %}">
                <button style="margin-top: 1em">Edit Category</button>
            </a>
        {% endif %}

    </article>


{% endblock %}
