{% extends "base_generic.html" %}

{% block content %}

                {{ form.media }}
    <div class="form-group" style="margin-bottom: 2em">
        {% if user.is_authenticated %}
            <form action="{% url 'search-result-game' %}" method="post" style="color: black">
            {% csrf_token %}
            <p class="select2-selection--multiple"> {{ form.as_table }} </p>
            <div class="control-group" style="margin-top: 3em">
                <button class="btn btn-dark" type="submit" style="">Search</button>
            </div>
            </form>
        {% else %}
            <p>You are not supposted to be here</p>
        {% endif %}
    </div>


    <style>

        .select2-selection__rendered {
          background-color: #212529;
          color: white;
        }

        .select2-container--default .select2-selection--multiple {
          background-color: rgba(0, 0, 0, 0);
          border: 0 solid #212529;
          color: white;
        }

		.select2-results {
            background-color: #212529;
			color: #ffffff;
		}

        .select2-selection--multiple {
          background-color: rgba(0, 0, 0, 0);
          color: white;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: rgba(255, 255, 255, 0.13);
        }

        .select2-container--default.select2-container--focus .select2-selection--multiple {
          border: solid black 0;
          outline: 0;
        }

        .select2-search__field {
              color: white;
        }
        input {
          color: white;
          color-scheme: dark;
        }
	</style>

{% endblock %}