{% extends "base_generic.html" %}

{% block content %}
    <p>THINGS TO VERIFY</p>
    {% if games_to_verify or movies_to_verify or series_to_verify or actors_to_verify or directors_to_verify or developers_to_verify or authors_to_verify or books_to_verify %}
        {% if games_to_verify %}
            <h1>Games!:</h1>




            <form action="{% url 'add_verf_stuff' %}" method="POST">
                {% csrf_token %}

                <select name="cars" id="cars" multiple>
                    {% for game in games_to_verify %}
                        <option value="{{ game.id }}">{{ game }}</option>

                    {% endfor %}
                </select>
                <button type="submit" value="{{ game.pk }}" class="btn btn-primary btn-sm">verify</button>

            </form>

            {% for game in games_to_verify %}
                <li>
                    <a href="{{ game.get_absolute_url }}">{{ game }}</a>
                </li>
            {% endfor %}

        {% endif %}

        {% if movies_to_verify %}
            <h1>Movies!:</h1>
            <form action="{% url 'movie-verification-stuff' %}" method="POST">
                {% csrf_token %}

                <select name="movies-select" id="movies-select" multiple>
                    {% for movie in movies_to_verify %}
                        <option value="{{ movie.id }}">{{ movie }}</option>
                    {% endfor %}
                </select>
                <button type="submit" value="{{ movie.pk }}" class="btn btn-primary btn-sm">verify</button>

            </form>

                        {% for movie in movies_to_verify %}
                <li>
                    <a href="{{ movie.get_absolute_url }}">{{ movie }}</a>
                </li>
            {% endfor %}
        {% endif %}


        {% if series_to_verify %}
            <h1>Series!:</h1>
            <form action="{% url 'series-verification-stuff' %}" method="POST">
                {% csrf_token %}

                <select name="series-select" id="series-select" multiple>
                    {% for series in series_to_verify %}
                        <option value="{{ series.id }}">{{ series }}</option>
                    {% endfor %}
                </select>
                <button type="submit" value="{{ series.pk }}" class="btn btn-primary btn-sm">verify</button>

            </form>
                                   {% for series in series_to_verify %}
                <li>
                    <a href="{{ series.get_absolute_url }}">{{ series }}</a>
                </li>
            {% endfor %}
        {% endif %}

        {% if books_to_verify %}
            <h1>Book!:</h1>
            <form action="{% url 'book-verification-stuff' %}" method="POST">
                {% csrf_token %}

                <select name="books-select" id="books-select" multiple>
                    {% for book in books_to_verify %}
                        <option value="{{ book.id }}">{{ book }}</option>
                    {% endfor %}
                </select>
                <button type="submit" value="{{ book.pk }}" class="btn btn-primary btn-sm">verify</button>

            </form>
                        {% for book in books_to_verify %}
                <li>
                    <a href="{{ book.get_absolute_url }}">{{ book }}</a>
                </li>
            {% endfor %}

        {% endif %}

        {% if actors_to_verify %}
            <h1>Actors!:</h1>
            {% for actor in actors_to_verify %}
                <li>
                    <a href="{{ actor.get_absolute_url }}">{{ actor }}</a>
                </li>
            {% endfor %}
        {% endif %}

        {% if directors_to_verify %}
            <h1>Directors!:</h1>
            {% for director in directors_to_verify %}
                <li>
                    <a href="{{ director.get_absolute_url }}">{{ director }}</a>
                </li>
            {% endfor %}
        {% endif %}

        {% if developers_to_verify %}
            <h1>Developers!:</h1>
            {% for developer in developers_to_verify %}
                <li>
                    <a href="{{ developer.get_absolute_url }}">{{ developer }}</a>
                </li>
            {% endfor %}
        {% endif %}

        {% if authors_to_verify %}
            <h1>Authors!:</h1>
            {% for author in authors_to_verify %}
                <li>
                    <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                </li>
            {% endfor %}
        {% endif %}

    {% else %}
        <center><h3>There is nothing to verify!</h3></center>
    {% endif %}

{% endblock %}
