{% extends "base_generic.html" %}

{% block content %}

    <form class="text-center" method="post">
        <h2>Change password</h2>
        {% csrf_token %}

        <p style="font-weight: bold; color: #d1cfcb"> Old Password: </p>
        <p> {{ form.old_password }} </p>
        {% for error in form.old_password.errors %}
          <p style="color: red">{{ error }}</p>
       {% endfor %}

        <p style="font-weight: bold; color: #d1cfcb"> New Password: </p>
        <p data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Your password can’t be too similar to your other personal information. Your password must contain at least 8 characters. Your password can’t be a commonly used password. Your password can’t be entirely numeric." data-bs-offset="0,-355"> {{ form.new_password1 }} </p>
        {% for error in form.new_password1.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}



        <p style="font-weight: bold; color: #d1cfcb"> New Password Confirmation: </p>
        <p data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Enter the same password as before, for verification." data-bs-offset="0,-355"> {{ form.new_password2 }} </p>
        {% for error in form.new_password2.errors %}
          <p style="color: red">{{ error }}</p>
       {% endfor %}

        <div class="position-absolute top-100 start-50 translate-middle" style="margin-top: 2.5em; margin-left: 1.5em; padding-bottom: 5em">
            <button type="submit">Change password</button>
        </div>
    </form>

    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

{% endblock %}