{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h3 style="font-size: xx-large; padding-bottom: 0.5em; padding-left: 1em">{{ page_user }}'s Profile</h3>
    <hr style="width:auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="margin-top: 4.5em">
                {% if page_user.profile_image_url %}
                    <img src="{{ page_user.profile_image_url }}" class="card-img" width="150" height="150" style="aspect-ratio: 1/1">
                {% endif %}
            {% if user.is_authenticated and page_user.user != user %}
            <form action="{% url 'like_profile' profile.pk%}" method="POST" style="margin-left: 1.25em; margin-bottom: 1em">
                {% csrf_token %}
                {% if liked %}
                    <button type="submit" name="profile_id" value="{{ profile.id }}" class="btn btn-danger btn-sm"> <a class="icon solid fa-thumbs-down" style="color: #710000"></a> Unlike </button>
                {% else %}
                    <button type="submit" name="profile_id" value="{{ profile.id }}" class="btn btn-primary btn-sm"> <a class="icon solid fa-thumbs-up fa-xl" style="color: #2b2a5c"></a> Like  </button>
                {% endif %}
            </form>
            {% endif %}
            </div>
            <div class="col">
                <div class="row" style="padding-bottom: 15px">
                    <div class="col">
                        {% if page_user.user == user %}
                            <a href="{% url 'friend-list' profile.pk %}"><button class="btn btn-dark btn-sm">Friends</button></a>
                        {% endif %}
                    </div>
                    <div class="col">
                        <a href="{% url 'my-favorites' page_user.name 'all' %}" style="padding: 1em"><button class="btn btn-dark btn-sm">Favorites</button></a>
                    </div>
                     <div class="col">
                        <a href="{% url 'profile-book-list' page_user.name 'all' %}" style="padding: 1em"><button class="btn btn-dark btn-sm">Book-list</button></a>
                    </div>
                    <div class="col">
                        <a href="{% url 'profile-game-list' page_user.name 'all' %}" style="padding: 1em"><button class="btn btn-dark btn-sm">Game-list</button></a>
                    </div>
                    <div class="col">
                        <a href="{% url 'profile-watchlist' page_user.name 'all' 'all'%}" style="padding: 1em"><button class="btn btn-dark btn-sm">Watchlist</button></a>
                    </div>
                </div>
                <div class="card mb-3" style="--bs-card-bg: #212529;">
                    <div class="card-body bg-dark">
                        <p class="text-white" style="font-size: 1.1em">
                            {% if page_user.profile_description %}
                                {{ page_user.profile_description }}
                            {% else %}
                                Uh-oh, better hide that VIRGINITY!
                            {% endif %}
                        </p>
                    </div>
                </div>
            <div class="row">
                <div class="col">
                {% if not has_perm and page_user.user == user and perm_request == None and not page_user.user.is_superuser %}
                <a href="{% url 'request-create' %}"><button class="btn btn-dark btn-sm">Request Perm</button></a>
                {% endif %}
            </div>
            <div class="col-md-10" style="margin-top: 1.5em">
            <h5 class="card-title text-center" style="padding-right: 15em; margin: 2em 0 1em 0">
             Joined: {{ page_user.user.date_joined.date }} | Last seen: {{ page_user.user.last_login.date }} | Gender: {{ page_user.gender }} | Likes received: {{ page_user.likes.count }}
            {% if page_user.date_of_birth %}
                | Birth date: {{ page_user.date_of_birth }}
            {% endif %}
        </h5>
            {% if user.is_superuser or user.is_staff %}
                    <a href="{% url 'user-page-management' profile.pk %}" style="margin-left: 15em"><button>User Management Admin</button></a>
            {% endif %}
    </div>
            </div>
        </div>
    </div>
        {% if page_user.user != user %}
        {% if not are_we_friends %}
            {% if not received_friend_request and page_user.user != user %}
                {% if page_user.user != user and not was_send_friend_request %}
                    <form action="{% url 'add-friend' profile.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info btn-sm">Invite a friend</button>
                    </form>
                {% elif was_send_friend_request and not are_we_friends %}
                    <form action="{% url 'cancel-friend' page_user.user.pk%}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Cancel invitation</button>
                    </form>
                {% endif %}
            {% else %}
                <form action="{% url 'accept-friend' profile.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info btn-sm">Accept a friend</button>
                </form>
            {% endif %}
        {% else %}
            <form action="{% url 'delete-friend' profile.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Unfriend</button>
            </form>
        {% endif %}
    {% endif %}

    <hr style="width:auto">
    <h3 style="font-size: xx-large; margin-top: 0.5em; margin-bottom: 1em">Statistics</h3>
    <hr style="width:auto">
    <div class="row">
        <div class="col">
            <ul class="list-inline statistics-title">Book statistics
                <li class="statistics"> Books read: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ profile.number_of_read_books }}</li>
                <li class="statistics"> Books to read: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ profile.number_of_want_to_read_books }}</li>
                <li class="statistics"> Books reading: &nbsp;&nbsp;&nbsp;&nbsp;{{ profile.number_of_reading_books }}</li>
                <li class="statistics"> Books dropped: &nbsp;&nbsp;{{ profile.number_of_dropped_books }}</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-inline statistics-title">Games statistics
                <li class="statistics"> Games played: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ profile.number_of_played_games }}</li>
                <li class="statistics"> Games to play: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ profile.number_of_want_to_play_games }}</li>
                <li class="statistics"> Games playing: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ profile.number_of_playing_games }}</li>
                <li class="statistics"> Games dropped: &nbsp;&nbsp;{{ profile.number_of_dropped_games }}</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-inline statistics-title">Series statistics
                <li class="statistics"> Series watched: &nbsp;&nbsp;&nbsp;{{ profile.number_of_watched_series }}</li>
                <li class="statistics"> Series to watch: &nbsp;&nbsp;&nbsp;{{ profile.number_of_want_to_watch_series }}</li>
                <li class="statistics"> Series watching: &nbsp;&nbsp;{{ profile.number_of_watching_series }}</li>
                <li class="statistics"> Series dropped: &nbsp;&nbsp;&nbsp;{{ profile.number_of_dropped_series }}</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-inline statistics-title">Movie statistics
                <li class="statistics"> Movies watched: &nbsp;&nbsp;{{ profile.number_of_watched_movies }}</li>
                <li class="statistics"> Movies to watch: &nbsp;&nbsp;{{ profile.number_of_want_to_watch_movies }}</li>
            </ul>
        </div>
    </div>


    </div>
{% endblock %}
