{% extends "base_generic.html" %}

{% block content %}

    <h1>{{ gamereview.game }} - {{ gamereview.author }}'s review</h1>
    <div style="border: thin solid black">
        <div style="border: thin solid black">{{ gamereview.review_date }} </div>
        <div style="border: thin solid black">My rate {{ gamereview.rate }} </div>
        <div style="border: thin solid black">{{ gamereview.content }} </div>
    </div>

    <a href="{% url 'game-review-update' game_pk=gamereview.game.pk pk=gamereview.pk%}">
        <button class="btn btn-success btn-sm">Update review</button>
    </a>

{% endblock %}