<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pop Culture Tracker - one-stop destination for movie, games & books fans</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Pop Culture Tracker is a website where users can create personalized watchlists and gamelists, write reviews and join discussions in the forum section.
                    Users can also discover new movies and games, rate them and share their thoughts and insights on recent releases and classics. It's a one-stop destination for pop culture enthusiasts.">
    <meta name="keywords" content="PCT, Game, Movie, Series, Watchlist, Gamelist, Booklist, Reviews">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" defer></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <link rel="stylesheet" href="{% static 'css/popup-style.css' %}">
    <script src="{% static main.js %}"></script>

</head>
<body>

<div>
 <div id="popup1" class="overlay">
    <div class="popup">
        <a id='closing' class="close" onclick="$('body').css({'overflow':'visible'})" href="#">&times;</a>
        <div id='alert-message' class="content">
            {% include 'polls/messages.html' %}
        </div>
    </div>
 </div>
</div>

<script>
    const box = document.getElementById('alert-message');
    if (box.textContent.trim() !== '') {
        window.location.href = "#popup1";
        $('body').css({'overflow':'hidden'});

        setTimeout(function () {
            {#window.location.href = "#closing";#}
            document.getElementById('closing').click();
        }, 5000);
    }
</script>

<!-- Nav -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapseBar" aria-controls="navbarCollapseBar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarCollapseBar">
                <a href="{% url 'index' %}"><img class="image-spin" src="{% static 'img/kawisz.png' %}" alt="PCT Logo"></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown nav-item-padding" style="margin-top: 0.75em">
                        <a class="icon solid fa-book navbar-icon-style" id="Books" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Books</a>
                        <ul class="dropdown-menu drop-menu-style" aria-labelledby="navbarDropdown">
                            <li class="list-padding"><a class="dropdown-item navbar-text-style" href="{% url 'books' %}">Books</a></li>
                            <li class="list-padding"><a class="dropdown-item navbar-text-style" href="{% url 'authors' %}">Authors</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown nav-item-padding">
                        <a class="icon solid fa-gamepad navbar-icon-style" id="Games" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Games</a>
                        <ul class="dropdown-menu drop-menu-style" aria-labelledby="navbarDropdown">
                            <li class="list-padding"><a class="dropdown-item navbar-text-style" href="{% url 'games' %}">Games</a></li>
                            <li class="list-padding"><a class="dropdown-item navbar-text-style" href="{% url 'developers' %}">Developers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown nav-item-padding">
                        <a class="icon solid fa-film navbar-icon-style" id="Movies&TVs" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Movies&TVs</a>
                        <ul class="dropdown-menu drop-menu-style" aria-labelledby="navbarDropdown">
                            <li class="list-padding"><a class="dropdown-item navbar-text-style" href="{% url 'movies' '-imdb_votes' %}"> Movies</a></li>
                            <li class="list-padding"><a class="dropdown-item navbar-text-style" href="{% url 'series' '-imdb_votes' %}"> TV Series</a></li>
                            <li class="list-padding"><a class="dropdown-item navbar-text-style" href="{% url 'actors' %}">Actors</a></li>
                            <li class="list-padding"><a class="dropdown-item navbar-text-style" href="{% url 'directors' %}">Directors</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-padding">
                        <a class="icon solid fa-comment navbar-icon-style" href="{% url 'category' %}" role="button" aria-expanded="false"> Forum</a>
                    </li>
                </ul>
                <ul class="navbar-nav" style="margin-right: 2em">
                    <li class="nav-item dropdown" style="margin-top: 0.75em">
                        <a class="icon solid fa-user fw-bolder" id="Profile" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.15vw"> Profile</a>
                        <ul class="dropdown-menu dropdown-menu-end drop-menu-style" aria-labelledby="navbarDropdown" style="margin-top: 18px">
                            {% if user.is_authenticated %}
                                <li class="list-padding"><a class="dropdown-item profile-text-style" href="{% url 'profile-page' user.username %}">Your Profile Page</a></li>
                                <li class="list-padding"><a class="dropdown-item profile-text-style" href="{% url 'edit_profile' %}">Account Settings</a></li>
                                <li class="list-padding"><a class="dropdown-item profile-text-style" href="{% url 'create_record' %}">Add record</a></li>
                                <li class="list-padding"><hr class="dropdown-divider"></li>
                                <li class="list-padding"><a class="dropdown-item profile-text-style" href="{% url 'logout' %}">Log Out</a></li>
                            {% else %}
                                <li class="list-padding"><a class="dropdown-item profile-text-style" href="{% url 'login' %}"> Login </a></li>
                                <li class="list-padding"><a class="dropdown-item profile-text-style" href="{% url 'signup' %}"> Register </a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper" style="margin: 2em; z-index: 1;">
        <section id="header">
            <div class="container">
                <h1 id="logo"><a href="{% url 'index' %}">Pop Culture Tracker</a></h1>
                <p>Welcome to Pop Culture Tracker, a website developed by <em>A(MD)^2 Team</em>!</p>
                {% if user.is_authenticated %}
                    <h3> If you have found any issues please post them <a href="{% url 'thread-list' 'suggestions-bugs' '-last_post_date' %}" style="color: red"><u>here</u></a></h3>
                {% endif %}
            </div>
        </section>
    </div>

<div class="container-fluid" role="document">
    <div class="modal-content row main justify-content-around" style="position: relative">
        <main class="col-lg-8 col-md-12 col-sm-12 col-sm-12 col-12">
            <article class="container content-style">
                {% block content %}{% endblock %}
                {% block pagination %}
                    {% if is_paginated %}
                        <ul class="pagination" style="margin-top: 1em">
                        <li style="margin-top: 1em;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>

                        {% if page_obj.has_previous %}
                          <li class="page-item pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                            {% if page_obj.number|add:-3 > 0 %}
                                <li class="page-item pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-3 }}">{{ page_obj.number|add:-3 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:-2 > 0 %}
                                <li class="page-item pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-2 }}">{{ page_obj.number|add:-2 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:-1 > 0 %}
                                <li class="page-item pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:-1 }}">{{ page_obj.number|add:-1 }}</a></li>
                            {% endif %}
                            <li class="page-item active pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                            {% if page_obj.number|add:1 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:2 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a></li>
                            {% endif %}
                            {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
                                <li class="page-item pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.number|add:3 }}">{{ page_obj.number|add:3 }}</a></li>
                            {% endif %}
                        {% if page_obj.has_next %}
                          <li class="page-item pagination-sm pagination-style"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                        </ul>
                    {% endif %}
                {% endblock %}
            </article>
        </main>
    </div>
</div>
</body>
<footer class="modal-footer">
    <div class="container">
            <section id="footer">
            <div class="row" style="margin-left: auto">
			<div class="col-md-5">
				<h3 style="padding-bottom: 1em; text-align: center;">Website for fans of pop culture</h3>
				<p style="font-size: large; color: #919191; text-align: center">
					Pop Culture Tracker is a website where users can create personalized watchlists and gamelists, write reviews and join discussions in the forum section.
                    Users can also discover new movies and games, rate them and share their thoughts and insights on recent releases and classics. It's a one-stop destination for pop culture enthusiasts.
                </p>
			</div>

			<div class="col-md-2" style="margin-left: 6em">
				<h3 style="padding-bottom: 1em; text-align: center;">Shortcuts</h3>
				<ul class="list-inline" style="font-size: medium; font-weight: bolder">
					<li class="list-margin"><a href="{% url 'category' %}">Forum</a></li>
					<li class="list-margin"><a href="{% url 'about' %}">Terms</a></li>
				</ul>
			</div>
            <div class="col-3" style="margin-left: 6em">
                <h3 style="padding-bottom: 1em; text-align: center;">Our community</h3>
                <span id="footer-span-style-lg">
                     <a href="https://discord.gg/fZbG7axdcx" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-discord"></i> </a>
                </span>
                <span id="footer-span-style-lg">
                     <a href="https://steamcommunity.com/groups/my-pct" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-steam"></i> </a>
                </span>
                <span id="footer-span-style-lg">
                     <a href="https://twitter.com/PopCultureTrack" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-twitter"></i> </a>
                </span>
            </div>

            </div>
         </section>
    </div>
</footer>
</html>