{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid" >
        <ul class="list-inline" style="background-color: #04142c00">
            {% if user.is_authenticated %}
                <li><a class="btn btn-close-white" href="{% url 'game-create' %}">Create game </a></li>
                <!--
                <li><a class="btn" href="{% url 'developer-create' %}">Create developer </a></li>
                -->
                <hr style="width:100px">
                <li><a class="btn btn-close-white" href="{% url 'movie-create' %}"> Create movie </a></li>
                <li><a class="btn btn-close-white" href="{% url 'series-create' %}"> Create series </a></li>
                <hr style="width:100px">
                <li><a class="btn btn-close-white" href="{% url 'book-create' %}"> Create book </a></li>
                <li><a class="btn btn-close-white" href="{% url 'search-user' %}"> Search people </a></li>
                <li><a class="btn btn-close-white" href="{% url 'search-general' %}"> General search </a></li>

                <!--
                <li><a class="btn" href="{% url 'actor-create' %}"> Create actor </a></li>
                <li><a class="btn" href="{% url 'director-create' %}"> Create director </a></li>
                -->
                {% if user.is_superuser %}
                    <hr style="width:100px">
                    <li><a class="btn btn-close-white" href="{% url 'omdb-api-page' %}"> OMDB API page</a></li>
                    <li><a class="btn btn-close-white" href="{% url 'scrape-games-redirect' %}"> Scrape games </a></li>
                    <li><a class="btn btn-close-white" href="{% url 'series-to-scrape' %}"> Scrape episodes</a></li>
                    <li><a class="btn btn-close-white" href="{% url 'stuff-verification' %}"> Stuff to verify </a></li>
                    <li><a class="btn btn-close-white" href="{% url 'request-list' %}"> Permission requests </a></li>

                    <li><a class="btn btn-close-white" href="{% url 'scrape-shows-script' type_of_show='movies_at_home' update='0'%}">
                        Scrape movies without update
                    </a></li>
                    <li><a class="btn btn-close-white" href="{% url 'scrape-shows-script' type_of_show='tv_series_browse' update='0'%}">
                        Scrape series without update
                    </a></li>
                    <li><a class="btn btn-close-white" href="{% url 'scrape-shows-script' type_of_show='movies_at_home' update='1'%}">
                        Scrape movies with update
                    </a></li>
                    <li><a class="btn btn-close-white" href="{% url 'scrape-shows-script' type_of_show='tv_series_browse' update='1'%}">
                        Scrape series with update
                    </a></li>
                    <li><a class="btn btn-close-white" href="{% url 'scrape-episodes-script' %}">
                        Scrape episodes script
                    </a></li>
                {% endif %}
            {% endif %}
        </ul>
</div>
{% endblock %}