{% extends "base_generic.html" %}

{% block content %}

    <!--
    WIP - Terms & Privacy
    -->

    <div class="new-banner-column" style="float: left; text-align: justify">
        <p style="font-weight: bold; color: #f7f7f7">Terms of Service and Rules:</p><br/>

            The providers ("we", "us", "our") of the service provided by this website ("Service") are not responsible for any user-generated content and accounts ("Content").
            Content submitted express the views of their author only.
            You agree to not use the Service to submit or link to any Content which is threatening, spam or spam-like, contains personal information of others,
            risks copyright infringement, encourages unlawful activity, or otherwise violates any laws.

            All Content you submit or upload may be reviewed by staff members. All Content you submit or upload may be sent to third-party verification services
            (including, but not limited to, spam prevention services).
            Do not submit any Content that you consider to be private or confidential.<br><br>

            We reserve the rights to remove or modify any Content submitted for any reason without explanation.
            Requests for Content to be removed or modified will be undertaken only at our discretion.
            We reserve the right to take action against any account with the Service at any time.

            You are granting us with a non-exclusive, permanent, irrevocable, unlimited license to use, publish,
            or re-publish your Content in connection with the Service. You retain copyright over the Content.

            These terms may be changed at any time without notice.

            If you do not agree with these terms, please do not register or use this Service. If you wish to close your account, please contact us.


            <p style="font-weight: bold; color: #f7f7f7">The type of data that we collect and process includes:</p>

                Your name or username.<br>
                Your email address.<br>
                Your IP address.


            <p style="font-weight: bold; color: #f7f7f7">We collect some or all of this information in the following cases:</p>
                You register as a member on this site.<br>
                You fill out fields on your profile.


            <p style="font-weight: bold; color: #f7f7f7">We may use your personal information in the following ways:</p>
                For the purposes of making you a registered member of our site, in order for you to contribute content to this site.<br>
                Your IP address is recorded when you perform certain actions on our site. Your IP address is never publicly visible.<br>
                We may use your email address to inform you of activity on our site.


            <p style="font-weight: bold; color: #f7f7f7"> Other ways we may use your personal information. </p>

            We may collect non-personally identifiable information about you in the course of your interaction with our site.<br>
            This information may include technical information about the browser or type of device you're using.<br>
            This information will be used purely for the purposes of analytics and tracking the number of visitors to our site.

            <p style="font-weight: bold; color: #f7f7f7"> Keeping your data secure </p>
            We are committed to ensuring that any information you provide to us is secure.<br>
            In order to prevent unauthorized access or disclosure, we have put in place suitable measures and procedures to safeguard and secure the information that we collect.

            <p style="font-weight: bold; color: #f7f7f7">Rights</p>
            You have a right to access the personal data we hold about you or obtain a copy of it. To do so please contact us.<br>
            If you believe that the information we hold for you is incomplete or inaccurate, you may contact us to ask us to complete or correct that information.<br>
            You also have the right to request the erasure of your personal data. Please contact us if you would like us to remove your personal data.

            <p style="font-weight: bold; color: #f7f7f7">Acceptance of this policy</p>
            Continued use of our site signifies your acceptance of this policy. If you do not accept the policy then please do not use this site.<br>
            When registering we will further request your explicit acceptance of the privacy policy.

            <p style="font-weight: bold; color: #f7f7f7">Changes to this policy</p>
            We may make changes to this policy at any time. You may be asked to review and re-accept the information in this policy if it changes in the future.

        </div>


{% endblock %}