{% extends "base_generic.html" %}

{% block content %}


    <div class="new-banner-column" style="float: left">
        <p style="max-width: 50%; font-weight: bold">Newest additions:</p><br/>

            <div class="last-serie" style="max-width: 50%">
                <a href="{{ last_series.get_absolute_url }}">
                    <img src="{{ last_series.poster }}" class="card-img" alt="">
                    <p>{{ last_series.title }}</p>
                </a><br/><br/>
            </div>

            <!-- Todo book covers?
            <div class="last-book" style="max-width: 50%">
                <a href="{{ last_book.get_absolute_url }}">
                    <img style='' src="{{ last_book }}" class="card-img" alt="">
                    <p>{{ last_book.title }}</p>
                </a><br/><br/>
            </div>
            -->

            <div class="last-movie" style="max-width: 50%">
                <a href="{{ last_movie.get_absolute_url }}">
                    <img src="{{ last_movie.poster }}" class="card-img" alt="">
                    <p>{{ last_movie.title }}</p>
                </a><br/><br/>
            </div>

            <div class="last-game" style="max-width: 50%">
                <a href="{{ last_game.get_absolute_url }}">
                    <img src="{{ last_game.game_image }}" class="card-img" alt="">
                    <p>{{ last_game.title }}</p>
                </a><br/><br/>
            </div>
        </div>


{% endblock %}
