{% extends 'base_generic.html' %}

{% block content %}

    {% if actor_list %}
        <h1 style="padding-bottom: 1em">Actors list</h1>
            <ul style="margin-bottom: 0.5em">
            {% for actor in actor_list %}
                <li style="margin-top: 0.5em"></li>
                <li>
                    <a href="{{ actor.get_absolute_url }}">{{ actor }}</a>
                    {% if actor.movie_set.count > 0 %}
                    | Movies played: {{ actor.movie_set.count }}
                    {% endif %}
                    {% if actor.series_set.count > 0 %}
                    | Series played: {{ actor.series_set.count }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no actors</p>
    {% endif %}
{% endblock %}