{% extends "base_generic.html" %}

{% block content %}

    <h1 style="padding-bottom: 1em"> {{ actor }} </h1>
    <ul class="list-inline">
        {% if actor.movie_set.all %}
            <li>Movies:
                <ul class="list-inline">
                    {% for movie in actor.movie_set.all %}
                        <li><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if actor.series_set.all %}
            <li>Series:
                <ul class="list-inline">
                    {% for series in actor.series_set.all %}
                        <li><a href="{{ series.get_absolute_url }}">{{ series.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>

    {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'actor-update' pk=actor.id %}">
                <button class="btn btn-success btn-sm">UPDATE</button>
            </a>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal_2">EDIT</button>
            <div class="modal fade" id="exampleModal_2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'actor-update' pk=actor.id %}">
                                        <button class="btn btn-success btn-sm">UPDATE</button>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'actor-delete' pk=actor.id %}">
                                        <button class="btn btn-danger btn-sm">DELETE ACTOR</button>
                                    </a>
                                </div>
                                <div class="col">
                                    <form action="{% url 'actor-verification' actor.pk %}">
                                        {% csrf_token %}
                                        {% if actor.Verified %}
                                            <button type="submit" value="{{ actor.pk }}"  class="btn btn-danger btn-sm">Undo verification</button>
                                        {% else %}
                                            <button type="submit" value="{{ actor.pk }}"   class="btn btn-primary btn-sm">Verify</button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}

{% endblock %}