{% extends 'base_generic.html' %}

{% block content %}

    <button class="btn btn-dark">
        <a class="icon solid fa-search text-white" href="{% url 'search-movie' %}" role="button" aria-expanded="false" style="font-size:1.5vw; font-weight: bolder"> Search</a>
    </button>

    {% if movie_list %}
        <h1 style="font-size: 250%; text-align: center;">Movies list</h1>
        <hr style="width:auto">
        <div class="row" style="padding-top: 3em">
            {% for movie in movie_list %}
                {% if movie.Verified %}
                    <div class="col-md-2">
                        <a href="{{ movie.get_absolute_url }}">
                            <div class="col">
                                <div class="row" style="min-height: 275px">
                                    <img style='max-width: 100%; height: auto;' src="{{ movie.poster }}" class="card-img" alt="">
                                </div>
                                <div class="row" style="margin-top: auto">
                                    <p>{{ movie }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <p>There are no movies</p>
    {% endif %}
{% endblock %}