{% extends "base_generic.html" %}

{% block content %}
    <div class="container-fluid">
    <h1 class="records_title"> {{ movie.title }} </h1>
    <a class="records_info">
        {{ movie.date_of_release }}
        &nbsp;&nbsp;&nbsp;
        IMDB rating: {{ movie.imdb_rating }}
        &nbsp;&nbsp;&nbsp;
        PCT rating: {{ movie.users_rating }}
        &nbsp;&nbsp;&nbsp;
        {{ movie.running_time}}m
    </a>
    {% if user.is_authenticated %}
    <div class="container text-center">
      <div class="row row-cols-auto">
        <div class="col">
            <form action="{% url 'add-favorite-movie' movie.pk %}" method="POST">
                {% csrf_token %}
                {% if movie in user.profile.favorite_movies.all %}
                    <button type="submit" name="movie_id" value="{{ movie.pk }}" class="btn btn-secondary btn-sm"><a class="icon solid fa-heart-broken fa-2xl" style="color: #dad0c0"></a>Unfavorite</button>
                {% else %}
                    <button type="submit" name="movie_id" value="{{ movie.pk }}" class="btn btn-danger btn-sm"><a class="icon solid fa-heart fa-2xl" style="color: #710000"></a>Favorite</button>
                {% endif %}
            </form>
        </div>
        <div class="col">
            {% if movie_in_user_watchlist %}
                <a onclick="location.href='{% url 'remove-movie-from-watchlist' movie.pk user.pk %}'"><button class="btn btn-primary btn-sm">REMOVE FROM WATCHLIST</button></a>
            {% else %}
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add_to_watchlist">Add to My List</button>
            <div class="modal fade" id="add_to_watchlist" tabindex="-1" aria-labelledby="watchlistLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h1 class="modal-title fs-5" id="watchlistLabel">Add to My Watchlist</h1>
                            <button type="button" class="btn-close btn-close-white" style="opacity: 0.25"  data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body bg-dark">
                            <a onclick="location.href='{% url 'add-movie-to-watchlist' movie.pk user.pk 'watched'%}'"><button class="btn btn-primary btn-sm" style="margin-right: 1em">Watched</button></a>
                            <a onclick="location.href='{% url 'add-movie-to-watchlist' movie.pk user.pk 'want to watch'%}'"><button class="btn btn-primary btn-sm">Want to watch</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="col" style="margin-top: 5em">
            <img class="movie_series_poster" src="{{ movie.poster }}" alt="{{ movie.title }}_poster">
            {% if movie.genre.all.count == 3 %}
                <ul class="record_genre_small">
                    {% for genre in movie.genre.all %}
                        <a href="{% url 'genre-movies' genre%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                    {% endfor %}
                </ul>
            {% elif movie.genre.all.count == 2 %}
                <ul class="record_genre_medium">
                    {% for genre in movie.genre.all %}
                        <a href="{% url 'genre-movies' genre%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                    {% endfor %}
                </ul>
            {% elif movie.genre.all.count == 1 %}
                <ul class="record_genre_large">
                    {% for genre in movie.genre.all %}
                        <a href="{% url 'genre-movies' genre%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    {% for genre in movie.genre.all %}
                        <a href="{% url 'genre-movies' genre%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col" style="padding-top: 25px">
            <h3> Summary: </h3>
            <article class="record_summary"> {{ movie.summary }} </article>
            <ul class="list-inline">
                {% for director in movie.director.all|slice:":1" %}
                    {% if director.full_name != 'N/A' %}
                        <h3> Directors: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                        {% for director in movie.director.all %}
                            {% if director.full_name != 'N/A' %}
                                <a class="record_detail_link" href="{{ director.get_absolute_url }}"> {{ director }} </a>
                            {% endif %}
                        {% endfor %}
                </li>
                {% for actor in movie.actors.all|slice:":1" %}
                    {% if actor.full_name != 'N/A' %}
                        <h3 style="padding-top: 5px"> Actors: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                        {% for actor in movie.actors.all %}
                            {% if actor.full_name != 'N/A' %}
                                <a class="record_detail_link" href="{{ actor.get_absolute_url }}"> {{ actor }} </a>
                            {% endif %}
                        {% endfor %}
                </li>
                {% for language in movie.language.all|slice:":1" %}
                    {% if language.id != 2 %}
                        <h3 style="padding-top: 5px"> Language: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                    {% for language in movie.language.all %}
                        {% if language.id != 2 %}
                            <a class="record_detail_text"> {{ language }} </a>
                        {% endif %}
                    {% endfor %}
                </li>
                {% if  movie.added_by%}
                    <li>Added by <a href="{% url 'profile-page' name=movie.added_by.profile.name %}">{{ movie.added_by }}</a></li>
                {% else %}
                    <li>Added by API</li>
                {% endif %}
            {% if user.is_superuser %}

             {% if movie.added_by == user and not movie.Verified%}
                 <div class="col">
                     <a href="{% url 'movie-update' pk=movie.id %}">
                         <button class="btn btn-success btn-sm">UPDATE</button>
                     </a>
                 </div>
             {% elif user.is_superuser or user.is_staff %}
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit">EDIT</button>
                <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-dark">
                                <h1 class="modal-title fs-5" id="editLabel">Edit</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body bg-dark">
                                <div class="row">
                                    {% if movie.added_by == user and not movie.Verified or user.is_superuser %}
                                        <div class="col">
                                            <a href="{% url 'movie-update' pk=movie.id %}">
                                                <button class="btn btn-success btn-sm">UPDATE</button>
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        <a href="{% url 'movie-delete' pk=movie.id %}">
                                            <button class="btn btn-danger btn-sm">DELETE MOVIE</button>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <form action="{% url 'movie-verification' movie.pk %}">
                                            {% csrf_token %}
                                            {% if movie.Verified %}
                                                <button type="submit" value="{{ movie.pk }}"  class="btn btn-danger btn-sm">Undo verification</button>
                                            {% else %}
                                                <button type="submit" value="{{ movie.pk }}"   class="btn btn-primary btn-sm">Verify</button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             {% endif %}
            {% endif %}
            </ul>
        </div>
    </div>
    </div>

    <h1 class="review_title">
        {% if series_reviews.count > 0 %}
            Reviews
        {% endif %}

        {% if user.is_authenticated%}
            {% if series_watched_watching %}
                {% if not series_has_user_review%}
                    <a href="{% url 'create-series-review' series_pk=series.pk%}">
                        <button class="btn btn-success btn-sm" style="margin-left: 8em">Write review</button>
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </h1>

    {% for review in movie_reviews %}
        <div class="review_box">
            <div class="review_bar"> <a href="{{ review.author.profile.get_absolute_url }}"> <strong>&nbsp;&nbsp;{{ review.author }}</strong></a> &nbsp;&nbsp;&nbsp; {{ review.review_date }} &nbsp;&nbsp;&nbsp; Rating: {{ review.rate }}
                {% if user.is_authenticated%}
                    {% if movie_watched %}
                        {% if review.author == user or user.is_superuser %}
                            {% if  review.author == user %}
                                <a href="{% url 'movie-review-update' movie_pk=movie.pk pk=user_review.pk%}">
                                    <button class="btn btn-success btn-sm" style="margin-left: 4em">Update review</button>
                                </a>
                            {% endif %}
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#review{{ review.pk }}">DELETE REVIEW</button>
                            <div class="modal fade" id="review{{ review.pk }}" tabindex="-1" aria-labelledby="reviewLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="POST" action="{% url "movie-review-delete" movie.pk review.pk %}">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="reviewLabel">Delete review</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete {{ movie }} review?</p>
                                                {% csrf_token %}
                                                {% if user.is_superuser %}
                                                    <textarea id="delete_reason" name="delete_reason" placeholder="Enter any reason, if necessary" maxlength="200" rows="4" cols="30"></textarea>
                                                {% endif %}
                                            </div>

                                            <div class="modal-footer">
                                                <input type="submit" value="DELETE">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="review_content">
                <p class="text-medium-black">
                    {{ review.content }}
                </p>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}