{% extends "base_generic.html" %}

{% block content %}
    <style>
        .slider {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 500px;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        background: #fcfcfc;
        border-radius: 20px;
        display: flex;
        align-items: center;
        box-shadow: 0px 15px 40px #7E6D5766;
        }
        .slider p {
        font-size: 26px;
        font-weight: 600;
        font-family: Open Sans;
        padding-left: 30px;
        color: black;
        }
        .slider input[type="range"] {
        -webkit-appearance:none !important;
        width: 420px;
        height: 2px;
        background: black;
        border: none;
        outline: none;
        }
        .slider input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        width: 30px;
        height:30px;
        background: black;
        border: 2px solid black;
        border-radius: 50%;
        cursor: pointer;
        }
        .slider input[type="range"]::-webkit-slider-thumb:hover {
        background: black;
        }
    </style>

    <h1>Write review</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>{{ form.content.label_tag }}</th>
            <td>
                {{ form.content.errors }}
                {{ form.content }}
            </td>
            </tr>

            <tr>
                <th>{{ form.rate.label_tag }}</th>
                <td>
                    {{ form.rate.errors }}
                    <div class="slider">
                        {{ form.rate }}
                        <p id="rangeValue">{{ object.rate }}</p>
                    </div>
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </form>
        <a class="d-inline-block"> </a>


{% endblock %}