{% extends "base_generic.html" %}

{% block content %}

    {% if serieswatchlist.series_status == 'want to watch'%}
        <h1>Change status</h1>
    {% else %}
        <h1>Update progress or add to watched</h1>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <div class="control-group" style="margin-top: 3em">
            <div class="controls">
                <div class="position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle" style="margin-left: 16em">
                        <button class="btn btn-dark btn-sm" type="submit" value="Submit">Submit</button>
                        <a href="{% url 'remove-series-from-watchlist' object.series.pk object.profile.user_id %}">
                            <button class="btn btn-danger btn-sm" style="margin-left: 1em">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </form>





{% endblock %}