{% extends "base_generic.html" %}

{% block content %}
    <div class="container-fluid">
    <h1 class="records_title"> {{ series.title }} </h1>
    <a class="records_info">
        {{ series.date_of_release }}
        &nbsp;&nbsp;&nbsp;
        IMDB rating: {{ series.imdb_rating }}
        &nbsp;&nbsp;&nbsp;
        PCT rating: {{ series.users_rating }}
        {% if series.number_of_seasons != NULL %}
            &nbsp;&nbsp;&nbsp;
            {{ series.number_of_seasons }} Seasons
        {% endif %}
    </a>
    {% if user.is_authenticated %}
    <div class="container text-center">
      <div class="row row-cols-auto">
        <div class="col">
            <form action="{% url 'add-favorite-series' series.pk%}" method="POST">
                {% csrf_token %}
                {% if series in user.profile.favorite_series.all %}
                    <button type="submit" name="series_id" value="{{ series.pk }}" class="btn btn-secondary btn-sm"><a class="icon solid fa-heart-broken fa-2xl" style="color: #dad0c0"></a>Unfavorite</button>
                {% else %}
                    <button type="submit" name="series_id" value="{{ series.pk }}" class="btn btn-danger btn-sm"><a class="icon solid fa-heart fa-2xl" style="color: #710000"></a>Favorite</button>
                {% endif %}
            </form>
        </div>
        <div class="col">
            {% if series_in_user_watchlist %}
                <a onclick="location.href='{% url 'remove-series-from-watchlist' series.pk user.pk %}'"><button class="btn btn-primary btn-sm">REMOVE FROM WATCHLIST</button></a>
            {% else %}
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add_to_watchlist">Add to My List</button>
            <div class="modal fade" id="add_to_watchlist" tabindex="-1" aria-labelledby="watchlistLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h1 class="modal-title fs-5" id="watchlistLabel">Add to My Watchlist</h1>
                            <button type="button" class="btn-close btn-close-white" style="opacity: 0.25"  data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body bg-dark">
                            <a onclick="location.href='{% url 'add-series-to-watchlist' series.pk user.pk 'watched'%}'"><button class="btn btn-primary btn-sm" style="margin-right: 1em">Watched</button></a>
                            <a onclick="location.href='{% url 'add-series-to-watchlist' series.pk user.pk 'watching'%}'"><button class="btn btn-primary btn-sm" style="margin-right: 1em">Watching</button></a>
                            <a onclick="location.href='{% url 'add-series-to-watchlist' series.pk user.pk 'want to watch'%}'"><button class="btn btn-primary btn-sm">Want to watch</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col" style="margin-top: 5em">
            <img class="movie_series_poster" src="{{ series.poster }}" alt="{{ series.title }}_poster">
            {% if series.genre.all.count == 3 %}
                <ul class="record_genre_small">
                    {% for genre in series.genre.all %}
                        <a href="{% url 'genre-series' genre%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                    {% endfor %}
                </ul>
            {% elif series.genre.all.count == 2 %}
                <ul class="record_genre_medium">
                    {% for genre in series.genre.all %}
                        <a href="{% url 'genre-series' genre%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                    {% endfor %}
                </ul>
            {% elif series.genre.all.count == 1 %}
                <ul class="record_genre_large">
                    {% for genre in series.genre.all %}
                        <a href="{% url 'genre-series' genre%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    {% for genre in series.genre.all %}
                        <a href="{% url 'genre-series' genre%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col" style="padding-top: 25px">
            <article class="record_summary">
            {% if series.number_of_seasons != None %}
            <h3> Seasons: </h3>
            {% if series.season_set.all %}
                <div class="row">
                    {% for season in series.season_set.all|dictsort:"season_number" %}
                        {% if season.season_number < 7 %}
                            <div class="col-2">
                                <a href="{% url 'season-detail' pk=season.id %}">
                                    <button class="btn btn-secondary btn-sm" style="font-size: smaller">Season
                                        {% if season.season_number < 10 %}
                                            0{{ season.season_number }}
                                        {% else %}
                                            {{ season.season_number }}
                                        {% endif %}
                                    </button>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-2" style="margin-top: 1em">
                                <a href="{% url 'season-detail' pk=season.id %}">
                                    <button class="btn btn-secondary btn-sm" style="font-size: smaller">Season
                                        {% if season.season_number < 10 %}
                                            0{{ season.season_number }}
                                        {% else %}
                                            {{ season.season_number }}
                                        {% endif %}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                {{ series }} has no seasons on our website
            {% endif %}
            {% endif %}
            </article>
            <h3> Summary: </h3>
            <article style="display: inline-block; font-size: initial; margin-bottom: 0.25em"> {{ series.summary }} </article>
            <ul class="list-inline">
                {% for director in series.director.all|slice:":1" %}
                    {% if director.full_name != 'N/A' %}
                        <h3> Directors: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                    {% for director in series.director.all %}
                        {% if director.full_name != 'N/A' %}
                            <a class="record_detail_link" href="{{ director.get_absolute_url }}"> {{ director }} </a>
                        {% endif %}
                    {% endfor %}
                </li>
                {% for actor in series.actors.all|slice:":1" %}
                    {% if actor.full_name != 'N/A' %}
                        <h3 style="padding-top: 5px"> Actors: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                    {% for actor in series.actors.all %}
                        {% if actor.full_name != 'N/A' %}
                            <a class="record_detail_link" href="{{ actor.get_absolute_url }}"> {{ actor }} </a>
                        {% endif %}
                    {% endfor %}
                </li>
                {% for language in series.language.all|slice:":1" %}
                    {% if language.id != 2 %}
                        <h3 style="padding-top: 5px"> Language: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                    {% for language in series.language.all %}
                        {% if language.id != 2 %}
                            <a class="record_detail_text"> {{ language }} </a>
                        {% endif %}
                    {% endfor %}
                </li>
                <!--
                {% if series.Verified %}
                    <li>Status: verified</li>
                {% else %}
                    <li>Status: not verified</li>
                {% endif %}
                -->
                {% if  series.added_by%}
                    <li>Added by <a href="{% url 'profile-page' name=series.added_by.profile.name %}">{{ series.added_by }}</a></li>
                {% else %}
                    <li>Added by <a href="https://www.omdbapi.com" target="_blank" rel="noopener noreferrer">API</a></li>
                {% endif %}

             {% if series.added_by == user and not series.Verified%}
                 <div class="col">
                     <a href="{% url 'series-update' pk=series.id %}">
                         <button class="btn btn-success btn-sm">UPDATE</button>
                     </a>
                 </div>
             {% elif user.is_superuser or user.is_staff %}
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit">EDIT</button>
                <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-dark">
                                <h1 class="modal-title fs-5" id="editLabel">Edit</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body bg-dark">
                                <div class="row">
                                    {% if series.added_by == user and not series.Verified or user.is_superuser %}
                                        <div class="col">
                                            <a href="{% url 'series-update' pk=series.id %}">
                                                <button class="btn btn-success btn-sm">UPDATE</button>
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        <a href="{% url 'series-delete' pk=series.id %}">
                                            <button class="btn btn-danger btn-sm">DELETE SERIES</button>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <form action="{% url 'series-verification' series.pk %}">
                                            {% csrf_token %}
                                            {% if series.Verified %}
                                                <button type="submit" value="{{ series.pk }}"  class="btn btn-danger btn-sm">Undo verification</button>
                                            {% else %}
                                                <button type="submit" value="{{ series.pk }}"   class="btn btn-primary btn-sm">Verify</button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             {% endif %}
            </ul>
        </div>
    </div>
    </div>

    <h1 class="review_title">
        {% if series_reviews.count > 0 %}
            Reviews
        {% endif %}

        {% if user.is_authenticated%}
            {% if series_watched_watching %}
                {% if not series_has_user_review%}
                    <a href="{% url 'create-series-review' series_pk=series.pk%}">
                        <button class="btn btn-success btn-sm" style="margin-left: 8em">Write review</button>
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </h1>

    {% for review in series_reviews %}
        <div class="review_box">
            <div class="review_bar"> <a href="{{ review.author.profile.get_absolute_url }}"> <strong>&nbsp;&nbsp;{{ review.author }}</strong></a> &nbsp;&nbsp;&nbsp; {{ review.review_date }} &nbsp;&nbsp;&nbsp; Rating: {{ review.rate }}
                {% if user.is_authenticated%}
                    {% if series_watched_watching %}
                        {% if review.author == user or user.is_superuser %}
                            {% if  review.author == user %}
                                <a href="{% url 'series-review-update' series_pk=series.pk pk=user_review.pk%}">
                                    <button class="btn btn-success btn-sm" style="margin-left: 4em">Update review</button>
                                </a>
                            {% endif %}
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#review{{ review.pk }}">DELETE REVIEW</button>
                            <div class="modal fade" id="review{{ review.pk }}" tabindex="-1" aria-labelledby="reviewLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="POST" action="{% url "series-review-delete" series.pk review.pk %}">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="reviewLabel">Delete review</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete {{ series }} review?</p>
                                                {% csrf_token %}
                                                {% if user.is_superuser %}
                                                    <textarea id="delete_reason" name="delete_reason" placeholder="Enter any reason, if necessary" maxlength="200" rows="4" cols="30"></textarea>
                                                {% endif %}
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-danger" value="DELETE" type="submit">DELETE</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="review_content">
                <p class="text-medium-black">
                    {{ review.content }}
                </p>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}