{% extends "base_generic.html" %}

{% block content %}
    <div class="container-fluid">
    <h1 style="font-size: xxx-large; margin-bottom: 1.5rem"> {{ series.title }} </h1>
    <a class="page-link" style="font-size: larger; display: inline; margin-right: 6px">
        {% if series.type_of_show == "series" %}
            TV Series
        {% endif %}
        &nbsp;&nbsp;&nbsp;
        {{ series.date_of_release }}
        &nbsp;&nbsp;&nbsp;
        IMDB rating: {{ series.imdb_rating }}
        {% if series.number_of_seasons != NULL %}
            &nbsp;&nbsp;&nbsp;
            {{ series.number_of_seasons }} Seasons
        {% endif %}
        <div style="margin-left: 8.5em">
            <form action="{% url 'add-favorite-series' series.pk%}" method="POST">
                {% csrf_token %}
                {% if series in user.profile.favorite_series.all %}
                    <button type="submit" name="series_id" value="{{ series.pk }}" class="btn btn-secondary btn-sm"><a class="icon solid fa-heart" style="color: #dad0c0"></a>Unfavorite</button>
                {% else %}
                    <button type="submit" name="series_id" value="{{ series.pk }}" class="btn btn-danger btn-sm"><a class="icon solid fa-heart" style="color: #710000"></a>Favorite</button>
                {% endif %}
            </form>
        </div>
    </a>
    <div class="row">
        <div class="col" style="margin-top: 1em">
            <img style='height: initial; width: initial; padding-left: inherit' src="{{ series.poster }}" class="card-img" alt="">
            <ul>
                {% for genre in series.genre.all %}
                    <a href="{% url 'genre-list' genre.class_name genre.pk%}" style="padding-left: 2px; padding-right: 2px"> <button type="button" class="btn btn-secondary btn-sm" style="font-size: x-small"> {{ genre }} </button> </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col" style="padding-top: 25px">
            <article style="display: inline-block; font-size: initial; margin-bottom: 1em">
            {% if series.number_of_seasons != None %}
            <h3> Seasons: </h3>
            {% if series.season_set.all %}
                {% for season in series.season_set.all %}
                    <a href="{% url 'season-detail' pk=season.id %}">
                        <button class="btn btn-secondary btn-sm" style="font-size: smaller">Season {{ season.season_number }}</button>
                    </a>
                {% endfor %}
            {% else %}
                {{ series }} has no seasons on our website
            {% endif %}
            {% endif %}
            </article>
            <h3> Summary: </h3>
            <article style="display: inline-block; font-size: initial; margin-bottom: 0.25em"> {{ series.summary }} </article>
            <ul class="list-inline">
                {% for director in series.director.all|slice:":1" %}
                    {% if director.full_name != 'N/A' %}
                        <h3> Directors: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                        {% for director in series.director.all %}
                            {% if director.full_name != 'N/A' %}
                                <a class="page-link" style="display: inline; margin-right: 6px; font-size: initial" href="{{ director.get_absolute_url }}"> {{ director }} </a>
                            {% endif %}
                        {% endfor %}
                </li>
                {% for actor in series.actors.all|slice:":1" %}
                    {% if actor.full_name != 'N/A' %}
                        <h3 style="padding-top: 5px"> Actors: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                        {% for actor in series.actors.all %}
                            {% if actor.full_name != 'N/A' %}
                                <a class="page-link" style="display: inline; margin-right: 6px; font-size: initial" href="{{ actor.get_absolute_url }}"> {{ actor }} </a>
                            {% endif %}
                        {% endfor %}
                </li>
                {% for language in series.language.all|slice:":1" %}
                    {% if language.id != 2 %}
                        <h3 style="padding-top: 5px"> Language: </h3>
                    {% endif %}
                {% endfor %}
                <li>
                        {% for language in series.language.all %}
                            {% if language.id != 2 %}
                                <a class="page-link" style="display: inline; margin-right: 6px; font-size: initial"> {{ language }} </a>
                            {% endif %}
                        {% endfor %}
                </li>
                <!--
                {% if series.Verified %}
                    <li>Status: verified</li>
                {% else %}
                    <li>Status: not verified</li>
                {% endif %}
                -->
                {% if  series.added_by%}
                    <li>Added by <a href="{% url 'profile-page' pk=series.added_by.id %}">{{ series.added_by }}</a></li>
                {% else %}
                    <li>Added by API</li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>

    <ul class="list-inline">
        <li>
            <a href="{% url 'series-update' pk=series.id %}">
                <button class="btn btn-success btn-sm">UPDATE</button>
            </a>
        </li>

        <li>
            {% if user.is_superuser %}
                <a href="{% url 'series-delete' pk=series.id %}">
                    <button class="btn btn-danger btn-sm">DELETE SERIES</button>
                </a>
                <form action="{% url 'series-verification' series.pk %}">
                    {% csrf_token %}
                    {% if series.Verified %}
                        <button type="submit" value="{{ series.pk }}"  class="btn btn-danger btn-sm">Undo verification</button>
                    {% else %}
                        <button type="submit" value="{{ series.pk }}"   class="btn btn-primary btn-sm">Verify</button>
                    {% endif %}
                </form>
            {% endif %}
        </li>
    </ul>


     {% if user.is_authenticated %}

        {% if series_in_user_watchlist %}
            <a href="{% url 'remove-movie-from-watchlist' series.pk user.pk %}"><button class="btn btn-primary btn-sm">REMOVE FROM WATCHLIST</button></a>
        {% else %}
            <strong>ADD TO YOUR WATCHLIST</strong>
            <a href="{% url 'add-series-to-watchlist' series.pk user.pk 'watched'%}"><button class="btn btn-primary btn-sm">Watched</button></a>
            <a href="{% url 'add-series-to-watchlist' series.pk user.pk 'watching'%}"><button class="btn btn-primary btn-sm">Watching</button></a>
            <a href="{% url 'add-series-to-watchlist' series.pk user.pk 'want to watch'%}"><button class="btn btn-primary btn-sm">Want to watch</button></a>
        {% endif %}

        <a href="{% url 'profile-watchlist' user.pk %}"><button class="btn btn-primary btn-sm">My watchlist</button></a>

        <form action="{% url 'add-favorite-series' series.pk%}" method="POST">
            {% csrf_token %}
            {% if series in user.profile.favorite_series.all %}
                <button type="submit" name="series_id" value="{{ series.pk }}" class="btn btn-danger btn-sm"><s>Favorite</s></button>
            {% else %}
                <button type="submit" name="series_id" value="{{ series.pk }}" class="btn btn-primary btn-sm">Favorite</button>
            {% endif %}
        </form>
        <a href="{% url 'my-favorites' user.pk %}"><button class="btn btn-primary btn-sm">My favorites</button></a>
    {% endif %}

    <br><br>
    {% if user.is_authenticated%}
        {% if series_watched_watching %}
            {% if  series_has_user_review%}
                <strong>You already wrote review</strong>
                <a href="{% url 'series-review-update' series_pk=series.pk pk=user_review.pk%}">
                    <button class="btn btn-success btn-sm">Update review</button>
                </a>
            {% else %}
                <a href="{% url 'create-series-review' series_pk=series.pk%}">
                    <button class="btn btn-success btn-sm">Write review</button>
                </a>
            {% endif %}
        {% endif %}
    {% endif %}

    {% for review in series_reviews %}
        <div style="border: thin solid black">
            <div style="border: thin solid black"> <strong>{{ review.author }}</strong> {{ review.review_date }}</div>
            <div style="border: thin solid black"> {{ review.author }}'s rate {{ review.rate }} </div>
            <div style="border: thin solid black">{{ review.content }} </div>
        </div>
    {% endfor %}

{% endblock %}