{% extends 'base_generic.html' %}

{% block content %}

    <button class="btn btn-dark">
        <a class="icon solid fa-search text-white" href="{% url 'search-series' %}" role="button" aria-expanded="false" style="font-size:1.5vw; font-weight: bolder"> Search</a>
    </button>

    {% if series_list %}
        <h1 style="font-size: 250%; text-align: center;">Series list</h1>
        <hr style="width:auto">
        <div class="row" style="padding-top: 3em">
            {% for series in series_list %}
                {% if series.Verified %}
                    <div class="col-md-2">
                        <a href="{{ series.get_absolute_url }}">
                            <div class="col">
                                <div class="row">
                                    <img style='max-width: 100%; height: 275px' src="{{ series.poster }}" class="card-img" alt="">
                                </div>
                                <div class="row" style="margin-top: auto">
                                    <p>{{ series.title }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <p>There are no series</p>
    {% endif %}
{% endblock %}